<%- include("header") -%>

<h2>This is the about page</h2>

<p>asdas dasd asda b gdfg as dabs ab sa fbabfasd vasdab s fdas fadsfba fs vasdavsd basdfavsdc adasrasrvqaw ds fdba svfa vas d</p>

<%- include("footer") -%>